body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-image: url('https://lh6.googleusercontent.com/proxy/3yJZBq1qvbQzKKEf-UoNM983Yq9eNDeAlAgzfEwiNDV-DBoiX-4ws0kwwG4nzc381VZUCZ6r7NG6DwMWodHDsdA-F6V7Y0UBXIZAtLpvq7xf5Z_35MIDpisUj0v6iJ3a3MM');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: #fafafa;
    text-shadow: 1px 2px 5px rgb(70, 69, 69);

}
table{
    width: 80%;
    border: 1px solid rgb(121, 118, 118);
    display: flex;
    box-shadow: 1px 2px 5px rgb(121, 118, 118);
    align-items: center;
    justify-content: center;
    gap: 10;
    border-radius: 5px;
    overflow: hidden;
}
tr, td{
    background-color: rgb(248, 242, 242);
    width: 1200px;
    text-align: center;
    padding: 10px;
        border: 1px solid rgb(121, 118, 118);

}
.principal{
    background-color: #157ABE;
    height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: aliceblue;
}
.secundario:hover{
    opacity: 0.5;
    transition: 0.3s ease-in;
    cursor: pointer;
    background-color: #157ABE;
}
td:hover{
    text-decoration: underline;
}