@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cor-fundo: beige;
    --cor-botoes: rgb(109, 109, 235);
    --fonte-padrao: normal 20px 'Arial', serif;
    --fonte-destaque: bold 1.5em 'Roboto', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--cor-fundo);
    font: var(--fonte-padrao);
}
form{
    margin: 15px;
    min-height: 85vh;
    box-shadow: 0px 2px 5px rgb(78, 78, 78);
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    min-width: 50%;
}

label{

display: block;
margin-bottom: 8px;
}
input{
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid var(--cor-botoes);
}


button{
    padding: 10px;
    margin-left: 80px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--cor-botoes);
    color: #ffff;
}

.btns{
    margin: 5px 60px 0px 0px;
}

 header{
    padding: 20px;
    color: #ffff;
    background-color: #739EC9;
    width: 100%;
    text-align: center;
} 
h1{
    font: var(--fonte-destaque);
}
